@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  z-index: 1000;
  color: red;
  font-size: 10rem;
  filter: blur(0px);
}

.containerImg {
  z-index: 0;
  background-image: url('./imgs/alto-angulo-de-cachorro-fofo-no-sofa-em-casa.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  z-index: 1;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.containerGeral {
  z-index: 2;
  width: 60vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logoImg {
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('./imgs/logo\ \(1\).png');
  width: 10vh;
  height: 10vh;
  filter: blur(2px);
}

.containerLogin {
  z-index: 3;
  background-color: white;
  height: 50%;
  width: 75%;
  border-radius: 5vh;
}